@media screen and (min-width: 768px){

    .deductiblesContainer {
        width: 80%;
        box-shadow: 8px 10px 5px rgba(24, 24, 23, 0.61);
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 60px;
        min-height: 592px;
        display: grid;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: .3fr 1fr;
        grid-template-areas: 
        "greeting"
        "deductiblesContainer2";
    }

    .greeting {
        background-color: rgb(102, 102, 102);
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 0;
        border-bottom: 4px solid transparent;
        border-radius: 1px;
        grid-area: greeting;
    }

    .greeting h1 {
        font-family: 'Source Sans Pro', sans-serif;
        text-shadow: 2px 4px #55553E;
        letter-spacing: 2px;
        padding-left: 5px;
        position: relative;
        font-size: 50px;
        color: #E4E0D7;
        left: 0;
        z-index: 2;
    }

    .deductiblesContainer2 {
        margin: 0 auto;
        margin: 10px 10px 10px 10px;
        display: grid;
        border-radius: 6px;
        background-color: rgb(000, 170, 153);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr 1fr;
        grid-template-areas: 
        "deductibleTitle deductibleTitle"
        "deductibleContent deductibleContent";
    }

    .greeting img {
        z-index: 0;
        position: absolute;
        top: 0px;
        left: 1px;
    }

    .exitButton {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .deductibleTitle {
        grid-area: deductibleTitle;
        margin-top: 5px;
    }

    .deductibleContent {
        grid-area: deductibleContent;
        padding-left: 20px;
    }

    #fixedChart {
        border-radius: 50px;
        border: 3px solid #ccc;
        height: 50px;
        width: 90%;
        background-color: white;
    }
        
    #newChart {
        color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #20BDD4;
        font-size: 18px;
        height: 100%;
        animation: amount-paid 1s;
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #newGraph {
        color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #20BDD4;
        font-size: 18px;
        height: 100%;
        animation: amount-paid 1s;
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}