@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');  



.greetingLogin{
    background-color: rgb(102,102,102);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid transparent;
    border-radius: 1px;
    position: relative;
    max-height: 154px;
 }


.formContainer{
    width: 40%;
    height: 480px;
    background-color:#E4E0D7;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 40px;
    left: 0;
    right: 0;
    border: 3px solid rgb(102,102,102);
    border-radius: 4px;
    box-shadow: 8px 10px 5px rgba(24, 24, 23, 0.61)

}

@media screen and (min-width: 320px){
body {
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.formContainer{
    width: 70%;
    height: 520px;
    background-color:#E4E0D7;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 40px;
    left: 0;
    right: 0;
    border: 3px solid rgb(102,102,102);
    border-radius: 4px;
    box-shadow: 8px 10px 5px rgba(24, 24, 23, 0.61)

}


.greetingLogin h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 4px #55553E;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 20px;
    font-size: 40px;
    color: #E4E0D7;
    left: 0;
    z-index: 2;
 }

a#loginA {
    text-align: center;
    position: relative;
    margin: 0 auto;
    color: #000000;
    font-size: 15px;
}

#anchorSpan {
    margin-top: 40px;
    display: inline-block;
    width: 200px;
    font-size: 15px;
    text-align: center;
}

label {
    display: inline-block;
    text-align: center;
    width: 80px;
    padding-right: 10px;
}

.checkboxLabel {
        display: inline-block;
        width: 140px;
}


    input  {
        width: 180px;
        height: 30px;
        font-size: 18px;
        border-radius: 3px;
        border: 1px solid transparent;
        margin: 10px auto;
        display: inline-block;
    }

    button {
        display: block;
        width: 150px;
        border-radius: 5px;
        border: 1px solid transparent;
        margin: 0 auto;
        text-transform: uppercase;
        background-color: rgb(000,170,153);
        box-shadow: 1px 3px 3px teal;
        font-size: 20px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px 0 8px 0
        }

.checkboxDiv {
    margin-bottom: 20px;
    margin-top: 10px;
} 
    .checkboxInput{
        display: inline-block;
        width: 40px;
        height: 15px;
        z-index: 5px;
        
    }

button:hover {
    background-color: #3376A9;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#anchorSpan:hover {
color: rgb(255,181,000);;
}

p#loginError {
   color: red;
   display: inline-block;
   width: 200px;
   height: 20px;
   text-align: center;
   font-size: 15px;
   margin-bottom: -10px;
}
}

@media screen and (min-width: 768px){

    
    .formContainer{
        width: 50%;
    
    }
    .greetingLogin{
        max-height: 114px;
     }
    .greetingLogin h1{
        font-size: 50px;
     }
    
    a#loginA {
        font-size: 15px;
    }
    
        input  {
            width: 250px;
        }
    
    p#loginError {
       color: red;
       display: inline-block;
       width: 400px;
       height: 20px;
       text-align: center;
       font-size: 15px;
       margin-bottom: -40px;
    }

}

