@media screen and (min-width: 320px){
body {
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2#loginH2 {
margin-top: 40px;
margin-bottom: 30px;
padding-top: 15px;
text-align: center;
color: #000000;
font-size: 30px;
font-weight: normal;
    }

a#loginA {
text-align: center;
position: relative;
margin: 0 auto;
color: #000000;
font-size: 15px;
}

#anchorSpan {
    margin-top: 40px;
    display: inline-block;
    width: 400px;
    font-size: 15px;
    text-align: center;
}

label {
    display: inline-block;
    text-align: right;
    width: 70px;
    padding-right: 10px;
    margin-left: -30px;
}

.checkboxLabel {
        display: inline-block;
        width: 140px;
}

.formContainer{
border: 1px black solid;
position: relative;
margin: 150 auto;
width: 450px;
text-align: center;
height: 480px;
background-color: rgb(255,181,000);
border-radius: 10px;
}

    input  {
        width: 250px;
        height: 30px;
        font-size: 18px;
        border-radius: 2px;
        color: rgb(064,143,205);
        margin: 10px auto;
        display: inline-block;
    }

    button {
        display: block;
        width: 150px;
        border-radius: 5px;
        margin: 0 auto;
        background-color: rgb(119,136,136);
        height: 35px;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
        }

.checkboxDiv {
    margin-bottom: 20px;
    margin-top: 10px;
} 
    .checkboxInput{
        display: inline-block;
        width: 40px;
        height: 15px;
    }

button:hover {
color: rgb(255,181,000);
}

#anchorSpan:hover {
color: rgb(255,181,000);;
}

p#loginError {
   color: red;
   display: inline-block;
   width: 400px;
   height: 20px;
   text-align: center;
   font-size: 15px;
   margin-bottom: -40px;
}
}