@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');  

    

  body {
    background-size: cover;
    background-position: center;
    /* background-color: rgba(255,212,046, 0.6); */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0 !important;
    padding: 0 !important;
 }

 .greeting{
    background-color: rgb(102,102,102);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 4px solid transparent;
    border-radius: 1px;

 }

 .greeting h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 4px #55553E;
    letter-spacing: 2px;
    position: relative;
    font-size: 50px;
    color: #E4E0D7;
    left: 0;
    z-index: 2;
 }

 .greeting img{
     z-index: 0;
     position: absolute;
     top: 0px;
     left: 1px;
 }

 .content{
    width: 80%;
    max-width: 1000px;
    background-color:#E4E0D7;
    margin: 0 auto;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    border: 3px solid rgb(102,102,102);
    border-radius: 4px;
    box-shadow: 8px 10px 5px rgba(24, 24, 23, 0.61)

 }

@media screen and (min-width: 320px){

    body{
        background-image: url("../images/accenture_portal_mobile.png");
    }
    
 


  .containerSidebar{
      display:none;
  }

  h2 {
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
  }

  h3, h5 {
    color: #000000;
    text-align: center;
    font-weight: normal;
  }


.dashboardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "dashboardBox1 dashboardBox1"
    "dashboardBox2 dashboardBox2"
    "dashboardBox3 dashboardBox3"
    "dashboardBox4 dashboardBox4"
    ;
}

.box {
    min-height: 296px;
    margin: 4px 10px 8px 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    text-align: center;
    background-color: rgb(000,170,153);
    box-shadow: 1px 3px 3px teal
}

.categories {
    font-size: 30px;
    color: white;
}

.dashboardBox1 {
    grid-area: dashboardBox1;
}

.dashboardBox2 {
    grid-area: dashboardBox2;
}

.dashboardBox2 img{
    position: relative;
    left: 20px;
    margin-bottom: 50px
}

.deductiblePercentage{
    z-index: 2;
    position: relative;
    right: 100px;
    bottom: 98px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

.dashboardBox3 {
    grid-area: dashboardBox3;
}

.dashboardBox4 {
    grid-area: dashboardBox4;

}

    img{
        margin-bottom: 30px
    }

}






/* !!!!!!!!!!!!!!!!
   BEGIN STYLING FOR
   DESKTOP VIEW
   !!!!!!!!!!!!!!!!
*/


@media screen and (min-width: 768px){


    #fixedChart {
        border-radius: 50px;
        border: 3px solid #ccc;
        height: 50px;
        width: 90%;
        background-color: white;
    }
        
    #newChart {
        color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #20BDD4;
        font-size: 18px;
        height: 100%;
        animation: amount-paid 1s;
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    
    }


    @keyframes amount-paid {
        0% { width: 0; color: transparent; padding: 0; }
    body{
        background-image: url("../images/accenture_portal.png");
        background-repeat: no-repeat
    }
    
    .content {
        display: grid;
        grid-template-columns: 1.2fr 4fr;
        /* position: relative;
        top: 40px; */
        /* grid-gap: 5px; */
        grid-template-areas: 
        "greeting greeting"
        "dashboardContainer dashboardContainer"
        "dashboardContainer dashboardContainer";
    }
    .greeting {
        grid-area: greeting;
        margin: 0 auto;
        width: 100%
    }

    #sidebarGreeting {
        text-align: center;
    }

    .dashboardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        grid-template-areas:
        "dashboardBox1 dashboardBox2"
        "dashboardBox3 dashboardBox4";
        grid-area: dashboardContainer; 
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        
    }
      

    .containerSidebar{
        display: none;
        grid-area: sidebarContainer;
        min-height: 615px;
        border: 1px solid transparent;
        background-color: rgb(102,102,102);
        box-shadow: inset -2px -1px 1px #B8B7AE;
    }

    .box{
        min-height: 296px;
        margin: 0 3px 8px 6px;
        border: 1px solid transparent;
        border-radius: 6px;
        text-align: center;
        background-color: rgb(000,170,153);
        box-shadow: 1px 3px 3px teal
    }

    .categories {
        font-size: 30px;
        color: white;
    }

    .list {
        list-style: none;
        padding: 10px 0 10px 10px;
    }
    
    .dashboardBox1 {
        grid-area: dashboardBox1;
        

    }

    .dashboardBox2 img{
        position: relative;
        top: 20px;
        left: 20px;
        margin-bottom: 0px
    }

    .deductiblePercentage{
        z-index: 2;
        position: relative;
        right: 100px;
        bottom: 30px;
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: white;
    }
    
    .dashboardBox2 {
        grid-area: dashboardBox2;
    }
    
    .dashboardBox3 {
        grid-area: dashboardBox3;
    }
    
    .dashboardBox4 {
        grid-area: dashboardBox4;

    }

}

.dashboardBox1:hover, .dashboardBox3:hover{
    cursor: pointer;
    display: block;
    z-index:20;
    min-height: 305px;
    position: relative;
    bottom: 3px;
    background-color: #3376A9;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.dashboardBox2:hover, .dashboardBox4:hover{
    cursor: pointer;
    display: block;
    z-index:20;
    min-height: 305px;
    position: relative;
    bottom: 3px;
    background-color: #3376A9;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
