 @media screen and (min-width: 320px){

    .yourCareContainer1 {
        width: 80%;
        box-shadow: 8px 10px 5px rgba(24, 24, 23, 0.61);
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 60px;
        min-height: 592px;
        display: grid;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: .3fr 1fr;
        grid-template-areas: 
        "greeting"
        "yourCareContainer2";
        
    }

.greeting {
    background-color: rgb(102,102,102);
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 0;
    border-bottom: 4px solid transparent;
    border-radius: 1px; 
    grid-area: greeting;
}

.greeting h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 4px #55553E;
    letter-spacing: 2px;
    padding-left: 5px;
    position: relative;
    font-size: 50px;
    color: #E4E0D7;
    left: 0;
    z-index: 2;
 }

 .yourCareContainer2 {
    /* width: 95%; */
    margin: 0 auto;
    margin: 10px 10px 10px 10px;
    display: grid;
    border-radius: 6px;
    background-color: rgb(000,170,153);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1fr;
    grid-template-areas:
    "yourCareTitle yourCareTitle"
    "prevCareContent prevCareContent";   
 }

 .greeting img{
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 1px;
}

.exitButton {
   position: absolute;
   top: 10px;
   right: 10px;
}

.yourCareTitle {
    grid-area: yourCareTitle;
    margin-top: 5px;
}


.prevCareContent{
    grid-area: prevCareContent;
    padding-left: 20px;
}

/* h4 .date {
    text-align: center;
} */

} 