<!-- //Making boxes for the dashboard// -->
<div class="content">
    <sidebar></sidebar>
    <div class="greeting">
      <h1>Welcome back, {{userObject[0].firstName }}</h1>
    </div>
    <div class="dashboardContainer">
      <div class="dashboardBox1 box">
          <p class="categories">Your Care</p>
          <img src="/images/medpack.png" width="180" height="155" alt="Your Care">
      </div>
      <div class="dashboardBox2 box">
          <p class="categories">Your Deductible</p>
          <img src="/images/battery.png" width="180" height="120" alt="Your Deductible">
          <span class="deductiblePercentage">50%</span>
      </div>
      <div class="dashboardBox3 box">
          <p class="categories">Plan Ahead</p>
          <img src="/images/clock.png" width="180" height="170" alt="Plan Ahead">
      </div>
      <div class="dashboardBox4 box">
          <p class="categories">Stay Healthy</p>
          <img src="/images/heartbeat.png" width="180" height="155" alt="Stay Healthy">
      </div>

    </div>
</div>