<div class="deductiblesContainer">  
    <div class="greeting">
        <h1>Deductibles</h1>
            <div class = "exitButton">
                <span class="back" ng-click="go('/dashboard')">X</span>
            </div>
    </div>
    <div class="deductiblesContainer2"> 
        <h3 class="deductibleTitle">{{userObject[0].firstName}}'s Financial Overview</h3>
            <div class="deductibleContent">
                <div class="inNetwork"><h4>In-Network Deductible</h4>
                    <p>The amount that you pay for your health services before your provider beging to contribute</p>
                    <div class="bar-container" id="fixedChart">
                        <div class="bar-data" id="newChart" ng-style="amountPaid()">
                            <span>{{style}}</span>
                            <p>${{userObject[0].deductiblePaid}}</p>
                        </div> 
                    </div>
                </div>
            
                <div class="inNetwork"><h4>Out-Of-Network Deductible:</h4>
                    <p>The dollar amount that you pay each year before your health insurance begins to cover payments</p>
                    <div class="bar-container" id="fixedChart">
                        <div class="bar-data" id="newGraph" ng-style="amountPaid2()">
                            <span>{{style}}</span>
                            <p>${{userObject[0].deductiblePaid}}</p>
                        </div> 
                    </div>
                </div>
            </div>

    </div> 
</div>
<!-- 


<div class="accordionDeduct">
        <p>Health Accordion</p>
        <div class = "panel">
            <input type="checkbox" class="panelInput" name="panels">
            <label class ="panelLabel" for="panel1">Option1</label>
            <div class="panel content">
                <p>Sample Content goes here Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus voluptates itaque tenetur voluptas veniam consequatur dolor repudiandae veritatis recusandae odio distinctio perspiciatis id, nam ducimus rerum repellendus, vitae aperiam quisquam.</p>
            </div>
        </div>

        <div class = "panel">
                <input type="checkbox" class="panelInput" name="panels">
                <label for="panel2" class ="panelLabel">Option2</label>
                <div class="panel content">
                    <p>Sample Content goes here Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus voluptates itaque tenetur voluptas veniam consequatur dolor repudiandae veritatis recusandae odio distinctio perspiciatis id, nam ducimus rerum repellendus, vitae aperiam quisquam.</p>
                </div>
            </div>

            <div class = "panel">
                    <input type="checkbox" class="panelInput" name="panels">
                    <label for="panel3" class ="panelLabel">Option3</label>
                    <div class="panel content">
                        <p>Sample Content goes here Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus voluptates itaque tenetur voluptas veniam consequatur dolor repudiandae veritatis recusandae odio distinctio perspiciatis id, nam ducimus rerum repellendus, vitae aperiam quisquam.</p>
                    </div>
                </div>


        </div>

    </div> -->
