
<div class="formContainer">    
    <h2 id="loginH2">Sign In</h2>
        
    <form ng-submit="submitWords(word)">
          <input type="text" placeholder="Username" ng-model="word.username">
          <input type="text" placeholder="**********" ng-model="word.password">
          <button type="submit" name="button">Sign In</button>
          <p id="loginError" class="hide" ng-show="loginError">Please re-enter your username/password</p>
    </form>
    <span id="anchorSpan">
    <a href="" id="loginA"> Forgot your password?</a>
    </span>
</div>