


<div class="containerSidebar" ng-controller="dashboardCtrl">
    <h4 id="sidebarGreeting">{{userObject[0].firstName}}'s Info</h4>
    <div id="profile">
        <li class="list">Profile</li>
    </div>
    <div id="idCard">
        <li class="list">ID Card</li>
    </div>
    <div id="forms">
        <li class="list">Forms</li>
    </div>
    <div id="messages">
        <li class="list">Messages</li>
    </div>
    <div id="contact">
        <li class="list">Contact Us</li>
    </div>
</div>
