<div class="stayHealthyContainer1">
	
		<div class="greeting">
			<h1>Stay Healthy</h1>
			<div class="exitButton1">
				<span class="back" ng-click="go('/dashboard')">X</span>
			</div>
		</div>
		<div class="stayHealthyContainerBox">
			<div class="stayHealthyContainer2">
				<div class="stayHealthyTitle">
					<h2>{{stayHealthy[0].firstName}}'s Stay Healthy Reminders</h2>
				</div>
				<div class="stayHealthyContent">
					<a href='/oauth/fitbit'>click here to authorize ya fitbit</a>
					<div class="fitbitInfo">
							<p> Name: {{token.user.displayName}}</p>
							<img src="" alt="" ng-src="{{token.user.avatar}}">
							<p>Age: {{token.user.age}}</p>
							<p>Member Since: {{token.user.memberSince}}</p>
							<p>Average Daily Steps:{{token.user.averageDailySteps}}</p>
		
						</div>
						
				</div>
			
			</div>
		</div>
	</div>
	