<!-- <div class="contentYourCare"> -->
   

    <div class="yourCareContainer1">

    <div class="greeting">
        <h1>Your Care</h1>
        <div class="exitButton">
                <span class="back" ng-click="go('/dashboard')">X</span>
        </div>
    </div>   

    <div class="yourCareContainer2">
        <div class = "yourCareTitle"> 
            <h2>{{userObject[0].firstName}}'s Your Care Reminders</h2> 
            <h4 id="date">{{date}}</h4>
        </div>  
        <div class="prevCareContent">     
            <p>{{userCare[0].pCare1}}</p>       
            <p>{{userCare[0].pCare2}}</p>  
            <p>{{userCare[0].pCare3}}</p>   
        </div>
    </div>
    </div>
    
<!-- </div> -->